@charset "utf-8";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#B2C9C6 5%, #F5FFFA 95%);
    text-align: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: #F4EBE0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em
}