@charset "utf-8";

.home {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 25px;
    right: 35px;
    float: right;
}

.explain {
    position: relative;
    top: 50px;
    font-family: Noto Sans;
    font-size: 10px;
}

.logo1 {
    width: 80px;
    position: relative;
    bottom: -120px;
}

.button {
    position: relative;
    width: 180px;
    bottom: -100px;
    word-break: break-all;
}

.icon {
    width: 30px;
}

.back{
    float:left;
    margin-left: 40px;
}

.teamname {
    position: relative;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: bold;
    right:-30px;
    text-align: left;
}